# Database
DB_URL=jdbc:postgresql://localhost:5432/postgres
DB_USERNAME=
DB_PASSWORD=

# External APIs
YOUTUBE_API_KEY=

# Upload
FILE_UPLOAD_DIR=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CACHE_TTL=
